{% extends 'base.html.twig' %}

{% block title %}Utilisateur désactivé{% endblock %}

{% block body %}
    <h1>Votre utilisateur est désactivé</h1>
    <p>
        Veuillez vérifier que vous n'avez pas essayé de vous connecter avec un email hors reconnect ou avec un
        utilisateur non autorisé, par exemple admin@reconnect.fr
    </p>
{% endblock %}
