###> environments ###
.env.local
.env.local.php
.env.*.local
.env.development.local
.env.test.local
.env.production.local
###< environments ###

###< frontend dependencies ###
node_modules
.pnp
.pnp.js
###< frontend dependencies ###

###< symfony/framework-bundle ###
composer.phar
/public/bundles/
/var/
/vendor/
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> IDE ###
.idea
.DS_Store
###< IDE ###

# testing
coverage

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
